<h1>レインボーバス時刻表</h1>

現在の時刻: <%= Time.zone.now %>

<div data-component-name="BusForm" data-component-props=<%= { actionUrl: root_path, busStops: @bus_stops.map { |bus_stop| { id: bus_stop.id, name: bus_stop.name }}, selectedStartBusStopId: @start_bus_stop&.id, selectedEndBusStopId: @end_bus_stop&.id }.to_json %>>
</div>

<hr />

<div
  data-component-name="BusStopOrderList"
  data-component-props=<%= {
                             busStops: @bus_stops.map do |bus_stop|
                               {
                                 id: bus_stop.id,
                                 name: bus_stop.name,
                               }
                             end,
                             busFlows: @bus_flows.map do |bus_flow|
                               {
                                 id: bus_flow.id,
                               }
                             end,
                             busStopOrders: @bus_stop_orders.map do |bus_stop_order|
                               {
                                 id: bus_stop_order.id,
                                 busFlowId: bus_stop_order.bus_flow_id,
                                 busStopId: bus_stop_order.bus_stop_id,
                                 arrivedTime: bus_stop_order.arrived_time,
                               }
                             end,
                             targetBusStopOrderId: @target_order&.id,
                           }.to_json
%>>
</div>