<h1>レインボーバス時刻表</h1>

<h3>現在の時刻：<%= Time.zone.now.strftime("%H:%M") %></h3>



<!--<ul>-->
  <%#- @bus_flows.each do |flow| %>
    <%#- flow.bus_stop_orders.each do |order| %>
<!--      <li>-->
<!--        名前： <%#= order.bus_stop.name %>-->
<!--        時間： <%#= order.arrived_time %>-->
<!--      </li>-->
    <%#- end %>
  <%#- end %>
<!--</ul>-->

<table border="1">
  <tbody>
    <%- @bus_stops.each do |stop| %>
      <tr>
        <td>
          <%= stop.name %>
        </td>

      <%- @bus_flows.each do |flow| %>
        <td>
          <%- order = @bus_stop_orders.find_by(bus_flows: flow, bus_stop: stop) %>
          <%- if order %>
            <%= order.arrived_time.strftime("%H:%M") %>

            <% if order == @target_order %>
              これやで
            <% end %>
          <% else %>
            ↓
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
